/****************************Tag selector***************************/
body{
  margin: 0;
  text-align:center;
  font-family: 'Merriweather', serif;
}


h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  margin-bottom: 0px;
  font-size: 90px;
  line-height: 2;
  color: #66BFBF;
}


h2
{
  font-family: 'Montserrat', sans-serif;
  margin-top: 0px;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

h4{
  color: #66BFBF;
}

a{
  color: #E4F9F5;
  margin: 30px;
}


hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #34B3F1;
  border-width: 6px;
  width:30px;
}

div{
  background-color: #E4F9F5;
  padding:10px;
}

img{
  position: relative;
}

/****************************Class selector***************************/
.top-container{
  background-color:  #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container{

}

.bottom-container{
  background: #11999E;
  height: 120px;

}

.bottom-cloud{
  position:absolute;
  left: 300px;
  bottom:300px;
}

.top-cloud{
  position:absolute;
  right: 300px;
  top: 50px;

}

.skill-row{
  width:50%;
  margin:100px auto 100px auto;
  text-align:left;
  line-height: 2;
}

.one-img{
  float: left;
  margin-right:   30px;
}

.two-img{
  float: right;
  margin-left:  30px;
}

.wrap-1{
  clear: left;
}

.wrap-2{
  clear: right;
}

.btn {
  background: #30e3cb;
  border-style:outset;
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: white;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #3498db);
  background-image: -moz-linear-gradient(top, #30e3cb, #3498db);
  background-image: -ms-linear-gradient(top, #30e3cb, #3498db);
  background-image: -o-linear-gradient(top, #30e3cb, #3498db);
  background-image: linear-gradient(to bottom, #30e3cb, #3498db);
  text-decoration: none;
}

.footer-link:hover{
  color:gold;
}

.head{
  background: #E4F9F5;
  height: 100px;
  padding-left:  100px;
}

.head-in img{
  position: absolute;
  left: 30px;
  padding-top: 20px;
  width: 70px;
  height: 70px;
}

.head-in-two{
  position: absolute;
  right:30px;

}

.head-in-two-1{
  position: absolute;
  right: 200px;
  color: #11999E;
font-family: "Montserrat-Bold",sans-serif;
}


.head-in-two-2{
  position: absolute;
  right: 50px;
  color: #11999E;
  font-family: "Montserrat-Bold",sans-serif;

}


.head-in-two-3{
  position: absolute;
  right:350px;
  color: #11999E;
  font-family: "Montserrat-Bold",sans-serif;
}

.body-1{
  background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(102,255,255,1) 60%, rgba(0,255,255,1) 100%);
}


/*Experiance file*/
